* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center;
    //background-clip: border-box;
    //height: 100vh;
    min-width: 100%;
    background-color: rgb(16, 20, 36);
}
h1 {
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-bottom: 1px solid white;
    margin: 0 50px 50px; 
}
.wrapper {
    margin: auto;
    height: 80%;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        width: 400px;
        height: 600px;
        box-shadow: 0 0 30px red;

    }
    p {
        text-align: justify;
        color: white;
        margin-right: 50px;
        margin-bottom: 20px;
        
        //margin-bottom: 10px;
    }
}
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
  label {
    display: block;
    color: white;
  }
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        margin: 0;
        width: 70vw;
        //justify-content: center;
        //align-items: center;
        flex-direction: column;
        div {
            margin-bottom: 20px;
        }
        margin-bottom: 100px;
        p {
            text-align: center;
            margin-right: 0;
        }
        img {
            width: 150px;
            height: 300px;
        }
    }
}